/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sm-left-padding {
    padding-left: 10px;
}

.listBox {
    width: 300px;
}

.bg-white {
    background-color: white;
    color: black;
}

.bg-dark {
    background-color: rgb(53,58,64);
    color: white;
}

.bg-aqua {
    background-color: rgb(0,192,239);
    color: white;
}

.bg-hot-pink {
    background-color: rgb(255,4,149);
    color: white;
}

.label-white {
    background-color: white;
    color: gray;
}

.hr-warning {
    border-color: rgb(243,156,17);
}

.hr-primary {
    border-color: rgb(60,141,188);
} 

.hr-success {
    border-color: rgb(0,166,90);
}

.hr-danger {
    border-color: #dd4b39;
}

.login-box,
.register-box {
    width: 500px;
    margin: 7% auto;
}

.login-page,
.register-page {
    height: auto;
    /*background: #d2d6de;*/
    background-image: url("/Content/images/quantum7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.skin-blue .sidebar .viewManageTickets,
.skin-black .sidebar .viewManageTickets,
.skin-purple .sidebar .viewManageTickets,
.skin-green .sidebar .viewManageTickets,
.skin-red .sidebar .viewManageTickets,
.skin-yellow .sidebar .viewManageTickets {
    color: #b8c7ce;
}

.skin-blue-light viewManageTickets,
.skin-black-light viewManageTickets,
.skin-purple-light viewManageTickets,
.skin-green-light viewManageTickets,
.skin-red-light viewManageTickets,
.skin-yellow-light viewManageTickets
{
    color: #444;
}

.bg-color {
    margin-right: 0;
    padding-right: 0;
}

.addToDo {
    margin-left: 0;
    padding-left: 0;
}

