/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sm-left-padding {
    padding-left: 10px;
}

.listBox {
    width: 300px;
}

.bg-white {
    background-color: white;
    color: black;
}

.bg-dark {
    background-color: rgb(53,58,64);
    color: white;
}

.hr-warning {
    border-color: rgb(243,156,17);
}

.hr-primary {
    border-color: rgb(60,141,188);
} 

.hr-success {
    border-color: rgb(0,166,90);
}

.login-box,
.register-box {
    width: 500px;
    margin: 7% auto;
}
