
@{
    ViewBag.Title = "ManageUserProjects";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Manage User Projects</h2>
</section>

<!-- Main content -->
<section class="content">
    THIS IS WHERE I WILL BE REDIRECTED WHEN I WANT TO MANAGE AN INDIVIDUAL USER'S PROJECTS
    <br />
    @Html.ActionLink("Back to User Index", "UserIndex", "Admin")
</section>

