
@{
    ViewBag.Title = "CustomResetPasswordConfirmation";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Reset Password Confirmation</h2>
</section>

<!-- Main content -->
<section class="content">
    <div>
        <p>
            Your password has been reset. Please make sure you remember what your new password is - you will need it next time you sign on.
        </p>
    </div>
</section>
